<div>
    <h2>Meetup Groups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="meetup-group.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Meetup Group
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="groupId"><span>Group Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="groupName"><span>Group Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="groupURL"><span>Group URL</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blocked"><span>Blocked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="meetupGroup in vm.meetupGroups track by meetupGroup.id">
                    <td><a ui-sref="meetup-group-detail({id:meetupGroup.id})">{{meetupGroup.id}}</a></td>
                    <td>{{meetupGroup.groupId}}</td>
                    <td>{{meetupGroup.groupName}}</td>
                    <td>{{meetupGroup.groupURL}}</td>
                    <td>{{meetupGroup.blocked}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="meetup-group-detail({id:meetupGroup.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="meetup-group.edit({id:meetupGroup.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="meetup-group.delete({id:meetupGroup.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
