<div>
    <h2>Meetups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="meetup.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Meetup
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meetupId"><span>Meetup Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meetupName"><span>Meetup Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meetupURL"><span>Meetup URL</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meetupGoingStatus"><span>Meetup Going Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meetupGroup.groupName"><span>Meetup Group</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="meetup in vm.meetups track by meetup.id">
                    <td><a ui-sref="meetup-detail({id:meetup.id})">{{meetup.id}}</a></td>
                    <td>{{meetup.meetupId}}</td>
                    <td>{{meetup.meetupName}}</td>
                    <td>{{meetup.meetupURL}}</td>
                    <td>{{meetup.meetupGoingStatus}}</td>
                    <td>
                        <a ui-sref="meetup-group-detail({id:meetup.meetupGroup.id})">{{meetup.meetupGroup.groupName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="meetup-detail({id:meetup.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="meetup.edit({id:meetup.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="meetup.delete({id:meetup.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
